importFrom("graphics", plot)

export(
       "weight"
       )

exportClasses(
              "portfolioBasic",
              "portfolio",
              "objectHistory",
              "exposure",
              "exposureHistory",
              "performance",
              "performanceHistory",
              "contribution",
              "contributionHistory",
              "portfolioHistory"
              )

exportMethods(
              "show",
              "summary",
              "mean",
              "plot",


              "initialize",
              "create",
              "calcWeights",
              "calcShares",
              "scaleWeights",

              "balance",
              "exposure",
              "performance",
              "contribution",

              "add",

              "portfolioDiff",
              "securityInfo",

              "matching",

              "+"
              
              )

